:root {
  --primary-color: #202D36;
  --secondary-color: #2B3743;
  --text-color: white;
  --contrast: 100%;
}

*
{
  margin: 0;
  padding: 0;
}

body
{
  background-color: var(--primary-color);
}

.countrycontainer
{
  font-family:Arial, Helvetica, sans-serif;
  width: 20vw;
  height: 30vw;
  background-color: var(--secondary-color);
  border-radius: 10px;
  color: var(--text-color);

  h2
  {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 35px;
    font-size: 1.6em;
  }

  p
  {
    font-size: 0.9em;
    padding: 5px;
    padding-left: 35px;

  }


  img
  {
    width: 20vw;
    height: 15vw;
    border-radius: 10px 10px 0 0;
  }

}



#countryGrid
{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: var(--primary-color);
  margin: 20px;
  row-gap: 100px;
  justify-items:center;
}

#searchbarDiv
{
  height: 48px;
  width: 25vw;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin: 65px;

  img
  {
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(var(--contrast));
    margin-left: 15px;
    margin-right: 15px;
  }

  input
  {
    background-color: transparent;
    width: 22vw;
    border: none;
    height: 48px;
    color: var(--text-color);
    font-size: 16px;
  }

  input::placeholder
  {
    color: var(--text-color);
  }

  input:focus
  {
    outline: none;
  }
}

#filterLine
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#regionFilter
{
  height: 48px;
  width: 15vw;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin: 65px;

  select
  {
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    border: none;
    outline: none;
    border-radius: 10px;
    color: var(--text-color);
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
  }
}

nav
{
  height: 10vh;
  background-color: var(--secondary-color);
  color: var(--text-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 80px;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;

  img
  {
    width: 32px;
    height: 32px;
    transform: translate(-50%, 25%);
    filter: brightness(0) invert(var(--contrast));
  }
}